.codex
.codex/
.tmp_pdf/
.wifo_git_backup/
archive/

**/__pycache__/
**/*.pyc

WIFO/dataset/
WIFO/dataset4train/
WIFO/weights/
WIFO/src/weights

runs/*
!runs/README.md
!runs/analysis_tradeoff_5ep_compare_20260414_153000/
!runs/analysis_tradeoff_5ep_compare_20260414_153000/**
!runs/wifo_base_strujepa_gpu0_anchor_random_20260412_223720/
!runs/wifo_base_strujepa_gpu0_anchor_random_20260412_223720/**
!runs/wifo_small_strujepa_gpu0_anchor_random_20260413_103234/
!runs/wifo_small_strujepa_gpu0_anchor_random_20260413_103234/**
!runs/wifo_little_strujepa_gpu1_anchor_random_20260413_103234/
!runs/wifo_little_strujepa_gpu1_anchor_random_20260413_103234/**
!runs/wifo_tiny_strujepa_gpu1_anchor_random_20260413_111721/
!runs/wifo_tiny_strujepa_gpu1_anchor_random_20260413_111721/**
